<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>kARTon</title>
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <img src="../img/logo.png">
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">О нас</a><div class="separator"></div></li>
        <li><a href="#creative">Галерея</a><div class="separator"></div></li>
        <li><a href="#footer">Контакты</a><div class="separator"></div></li>
      </ul>
    </div>
  </nav>

  <div class="main-image">
    <div class="container desc">
      <div class="col-xs-7 col-xs-offset-5">
        <p>Декорации и костюмы из картона - визуальные образы для детского праздника, интерактивной игры, индивидуального образа, массового мероприятия или спектакля.</p>
        <p class="telefon">Телефон: +7(926)150-01-32; &nbsp;+7(926)801-87-31</p>
      </div>
    </div>
  </div>

  <div class="col-md-12 menu">
      <div class="col-md-15 col-sm-3">
        <div class="img-container"><img src="../img/photo_creative.png" alt=""></div>
        <span class="text-content">
          <a href="#creative">
            Креативные фотосессии
            <img class="icon" src="../img/menu_creative.png" alt="">
          </a>
        </span>
      </div>
      <div class="col-md-15 col-sm-3">
        <div class="img-container"><img src="../img/photo_corp.png" alt=""></div>
        <span class="text-content">
          <a href="#corp">
            Корпоративные съёмки
            <img class="icon" src="../img/menu_corp.png" alt="">
          </a>
        </span>
      </div>
      <div class="col-md-15 col-sm-3">
        <div class="img-container"><img src="../img/photo_theatre.png" alt=""></div>
        <span class="text-content">
          <a href="#theatre">
            Театральные декорации
            <img class="icon" src="../img/menu_theatre.png" alt="">
          </a>
        </span>
      </div>
      <div class="col-md-15 col-sm-3">
        <div class="img-container"><img src="../img/photo_child.png" alt=""></div>
        <span class="text-content">
          <a href="#children">
            Детские праздники
            <img class="icon" src="../img/menu_child.png" alt="">
          </a>
        </span>
      </div>
      <div class="col-md-15 col-sm-3">
        <div class="img-container"><img src="../img/photo_mass.png" alt=""></div>
        <span class="text-content">
          <a href="#mass">
            Массовые мероприятия
            <img class="icon" src="../img/menu_mass.png" alt="">
          </a>
        </span>
      </div>
  </div>

  <div class="col-xs-12 float"></div>

  <div class="col-xs-12 section" id="about">
    <div class="container">
      <div class="col-xs-3">
        <img src="../img/menu_about.png" alt="">
      </div>
      <div class="col-xs-9">
        <h3>О нас</h3>
        <p>Группа хужожников и дизайнеров с высшими образованиями и многолетним опытом работы в сфере дизайна и изобразительного искусства предлагают Вам свой новый проект - креативные картонные декорации для творческих фотосессий, праздников, театральных шоу и рекламных проектов. Мы можем помочь придумать вам оригинальную идею для праздника или индивидуальной фотосессии и воплотить ее в жизнь. Основной материал недорогой - это картон, поэтому услуга может буть доступной для разного финансового уровня желающих. Мы не только сделаем декорации, но и можем провести фотосессию с участием профессиональных фотографов, в профессиональной фотостудии или на открытом пространстве, в зависимости от желания и средств.</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 float"></div>

  <div class="col-xs-12 section" id="creative">
    <div class="container">
      <div class="col-xs-8">
        <h3>Креативные фотосессии</h3>
        <p>Если Ваша мечта поразить своих друзей необыкновенным образом на фотографиях, изменить координально свой имидж на несколько часов и сохранить об этом  воспоминания на всю жизнь на снимках - мы поможем Вам сделать это. Мы не только придумаем для Вас идеальный и креативный образ, мы создадим его своими руками. По Вашему желанию либо мы, либо профессиональные фотографы проведут с Вами фотосессию в придуманном и нарисованном мире. Картонные декорации легки и удобны. По Вашему желанию и в соответствии с концепцией мы проведем сьемку где угодно - от профессиональной студии до природных условий.</p>
      </div>
      <div class="col-xs-4">
        <img src="../img/menu_creative.png" alt="">
      </div>
    </div>
  </div>
  <div class="wrap col-xs-12">
    <div class="scrollbar">
			<div class="handle">
				<div class="mousearea"></div>
			</div>
		</div>

		<div class="frame" id="frame_creative">
			<ul class="clearfix">
			  <li><img src="../img/creativ/1.jpg" alt=""></li>
			  <li><img src="../img/creativ/2.jpg" alt=""></li>
			  <li><img src="../img/creativ/3.jpg" alt=""></li>
			  <li><img src="../img/creativ/4.jpg" alt=""></li>
			  <li><img src="../img/creativ/5.jpg" alt=""></li>
			  <li><img src="../img/creativ/6.jpg" alt=""></li>
			  <li><img src="../img/creativ/7.jpg" alt=""></li>
			  <li><img src="../img/creativ/8.jpg" alt=""></li>
			  <li><img src="../img/creativ/9.jpg" alt=""></li>
			  <li><img src="../img/creativ/10.jpg" alt=""></li>
			  <li><img src="../img/creativ/11.jpg" alt=""></li>
			  <li><img src="../img/creativ/12.jpg" alt=""></li>
			  <li><img src="../img/creativ/13.jpg" alt=""></li>
			  <li><img src="../img/creativ/14.jpg" alt=""></li>
			  <li><img src="../img/creativ/15.jpg" alt=""></li>
			  <li><img src="../img/creativ/16.jpg" alt=""></li>
			  <li><img src="../img/creativ/17.jpg" alt=""></li>
			  <li><img src="../img/creativ/18.jpg" alt=""></li>
			  <li><img src="../img/creativ/19.jpg" alt=""></li>
			  <li><img src="../img/creativ/20.jpg" alt=""></li>
			  <li><img src="../img/creativ/21.jpg" alt=""></li>
			  <li><img src="../img/creativ/22.jpg" alt=""></li>
			  <li><img src="../img/creativ/23.jpg" alt=""></li>
			  <li><img src="../img/creativ/24.jpg" alt=""></li>
			  <li><img src="../img/creativ/25.jpg" alt=""></li>
			  <li><img src="../img/creativ/26.jpg" alt=""></li>
			  <li><img src="../img/creativ/27.jpg" alt=""></li>
			  <li><img src="../img/creativ/28.jpg" alt=""></li>
			  <li><img src="../img/creativ/29.jpg" alt=""></li>
			  <li><img src="../img/creativ/30.jpg" alt=""></li>
			  <li><img src="../img/creativ/31.jpg" alt=""></li>
			</ul>
		</div>

    <ul class="pages"></ul>
  </div>

  <div class="col-xs-12 float"></div>

  <div class="col-xs-12 section" id="corp">
    <div class="container">
      <div class="col-xs-3">
        <img src="../img/menu_corp.png" alt="">
      </div>
      <div class="col-xs-9">
        <h3>Корпоративные съёмки</h3>
        <p>Мы рады предложить вам услугу по оформлению и проведению корпоротивной фотосъемки. Новые образы создадут всем радостное настроение и остануться на долгую память. Мы можем подготовить картонные декорации для фотосессии а так же  помочь провести ее совместно с профессиональными фотографами. Наши декорации из картона легки и удобны в использовании, фото-зона не требует долгой предварительной подготовки.</p>
      </div>
    </div>
  </div>
  <div class="wrap col-xs-12">
    <div class="scrollbar">
			<div class="handle">
				<div class="mousearea"></div>
			</div>
		</div>

		<div class="frame" id="frame_corp">
			<ul class="clearfix">
			  <li><img src="../img/corp/1.jpg" alt=""></li>
			  <li><img src="../img/corp/2.jpg" alt=""></li>
			  <li><img src="../img/corp/3.jpg" alt=""></li>
			  <li><img src="../img/corp/4.jpg" alt=""></li>
			  <li><img src="../img/corp/5.jpg" alt=""></li>
			  <li><img src="../img/corp/6.jpg" alt=""></li>
			  <li><img src="../img/corp/7.jpg" alt=""></li>
			  <li><img src="../img/corp/8.jpg" alt=""></li>
			  <li><img src="../img/corp/9.jpg" alt=""></li>
			</ul>
		</div>

    <ul class="pages"></ul>
  </div>

  <div class="col-xs-12 float"></div>

  <div class="col-xs-12 section" id="theatre">
    <div class="container">
      <div class="col-xs-8">
        <h3>Театральные декорации</h3>
        <p>Наши оригинальные картонные декорации, сделанные вручную, помогут сделать ваш праздник или театральное действие незабываемым и ярким. Креативный подход к декорациям может сделать авторский праздник самым оригинальным, без затрат на дорогие материалы, делая упор на идею и мастерское исполнение.</p>
      </div>
      <div class="col-xs-4">
        <img src="../img/menu_theatre.png" alt="">
      </div>
    </div>
  </div>
  <div class="wrap col-xs-12">
    <div class="scrollbar">
			<div class="handle">
				<div class="mousearea"></div>
			</div>
		</div>

		<div class="frame" id="frame_theatre">
			<ul class="clearfix">
			  <li><img src="../img/theatre/1.jpg" alt=""></li>
			  <li><img src="../img/theatre/2.jpg" alt=""></li>
			  <li><img src="../img/theatre/3.jpg" alt=""></li>
			  <li><img src="../img/theatre/4.jpg" alt=""></li>
			  <li><img src="../img/theatre/5.jpg" alt=""></li>
			</ul>
		</div>

    <ul class="pages"></ul>
  </div>

  <div class="col-xs-12 float"></div>

  <div class="col-xs-12 section" id="children">
    <div class="container">
      <div class="col-xs-3">
        <img src="../img/menu_child.png" alt="">
      </div>
      <div class="col-xs-9">
        <h3>Детские фотосессии</h3>
        <p>Каждый родитель, воспитатель, педагог, аниматор знает как легко малыши входят в условный мир игры. Наши картонные декорации помогут ввести детей в любую выбранную историю или сказку. А так же подобрать индивидуальный образ. Интерактивные игры, детские спектакли, детские праздники живут с нашими картонными декорациями. Наши художники нарисуют значимые детали для любого образа. Мы хотим помочь вашим детям раскрыть свой творческий потенциал.</p>
      </div>
    </div>
  </div>
  <div class="wrap col-xs-12">
    <div class="scrollbar">
			<div class="handle">
				<div class="mousearea"></div>
			</div>
		</div>

		<div class="frame" id="frame_children">
			<ul class="clearfix">
			  <li><img src="../img/child/1.jpg" alt=""></li>
			  <li><img src="../img/child/2.jpg" alt=""></li>
			  <li><img src="../img/child/3.jpg" alt=""></li>
			  <li><img src="../img/child/4.jpg" alt=""></li>
			  <li><img src="../img/child/5.jpg" alt=""></li>
			</ul>
		</div>

    <ul class="pages"></ul>
  </div>

  <div class="col-xs-12 float"></div>

  <div class="col-xs-12 section" id="mass">
    <div class="container">
      <div class="col-xs-8">
        <h3>Массовые мероприятия</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa explicabo quos cupiditate culpa reiciendis quis modi, sed alias tenetur ad et officiis. Culpa dolor veritatis, itaque recusandae quos rerum repudiandae consectetur maxime pariatur nobis perspiciatis ipsam blanditiis hic numquam fugit incidunt ea eligendi, vel, eveniet nihil. Quod molestiae laborum, blanditiis aperiam. Molestias, autem iusto commodi repellat facere repudiandae, consequuntur vel optio veritatis mollitia id qui culpa. Quas, corrupti! Libero, fugiat?</p>
      </div>
      <div class="col-xs-4">
        <img src="../img/menu_mass.png" alt="">
      </div>
    </div>
  </div>

  <div class="col-xs-12 float"></div>

  <div class="col-xs-12" id="footer">
    <div class="container">

    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="../js/jquery-ui.min.js"></script>
  <script src="../js/sly.min.js"></script>
  <script>
    $(document).ready(function() {
      var frame_creative  = $('#frame_creative');
  		var wrap_creative   = frame_creative.parent();

  		frame_creative.sly({
  			horizontal: 1,
  			itemNav: 'basic',
  			smart: 1,
  			mouseDragging: 1,
  			touchDragging: 1,
  			releaseSwing: 1,
  			startAt: 3,
  			scrollBar: wrap_creative.find('.scrollbar'),
  			scrollBy: 1,
  			pagesBar: wrap_creative.find('.pages'),
  			activatePageOn: 'click',
  			speed: 300,
  			elasticBounds: 1,
  			easing: 'easeOutExpo',
  			dragHandle: 1,
  			dynamicHandle: 1,
  			clickBar: 1,
  		});

      var frame_corp  = $('#frame_corp');
  		var wrap_corp   = frame_corp.parent();

      frame_corp.sly({
  			horizontal: 1,
  			itemNav: 'basic',
  			smart: 1,
  			mouseDragging: 1,
  			touchDragging: 1,
  			releaseSwing: 1,
  			startAt: 3,
  			scrollBar: wrap_corp.find('.scrollbar'),
  			scrollBy: 1,
  			pagesBar: wrap_corp.find('.pages'),
  			activatePageOn: 'click',
  			speed: 300,
  			elasticBounds: 1,
  			easing: 'easeOutExpo',
  			dragHandle: 1,
  			dynamicHandle: 1,
  			clickBar: 1,
  		});

      var frame_theatre  = $('#frame_theatre');
  		var wrap_theatre   = frame_theatre.parent();

      frame_theatre.sly({
  			horizontal: 1,
  			itemNav: 'basic',
  			smart: 1,
  			mouseDragging: 1,
  			touchDragging: 1,
  			releaseSwing: 1,
  			startAt: 3,
  			scrollBar: wrap_theatre.find('.scrollbar'),
  			scrollBy: 1,
  			pagesBar: wrap_theatre.find('.pages'),
  			activatePageOn: 'click',
  			speed: 300,
  			elasticBounds: 1,
  			easing: 'easeOutExpo',
  			dragHandle: 1,
  			dynamicHandle: 1,
  			clickBar: 1,
  		});

      var frame_children  = $('#frame_children');
  		var wrap_children   = frame_children.parent();

      frame_children.sly({
  			horizontal: 1,
  			itemNav: 'basic',
  			smart: 1,
  			mouseDragging: 1,
  			touchDragging: 1,
  			releaseSwing: 1,
  			startAt: 3,
  			scrollBar: wrap_children.find('.scrollbar'),
  			scrollBy: 1,
  			pagesBar: wrap_children.find('.pages'),
  			activatePageOn: 'click',
  			speed: 300,
  			elasticBounds: 1,
  			easing: 'easeOutExpo',
  			dragHandle: 1,
  			dynamicHandle: 1,
  			clickBar: 1,
  		});
    });
  </script>
</html>
