<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>kARTon</title>
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <img src="../img/logo.png" >
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">О нас</a><div class="separator"></div></li>
        <li><a href="#creative">Галерея</a><div class="separator"></div></li>
        <li><a href="#footer">Контакты</a><div class="separator"></div></li>
      </ul>
    </div>
  </nav>

  <div class="main-image">
    <div class="container desc">
      <div class="col-xs-7 col-xs-offset-5">
        <p>Декорации и костюмы из картона - визуальные образы для детского праздника, интерактивной игры, индивидуального образа, массового мероприятия или спектакля.</p>
        <p class="telefon">Телефон: +7(926)150-01-32; &nbsp;+7(925)801-87-31</p>
      </div>
    </div>
  </div>

  <div class="col-md-12 menu">
      <div class="col-md-15 col-sm-3">
        <div class="img-container"><img src="../img/photo_creative.png" alt=""></div>
        <span class="text-content">
          <a href="#creative">
            Креативные фотосессии
            <!--<img class="icon" src="../img/menu_creative.png" alt="">-->
          </a>
        </span>
      </div>
      <div class="col-md-15 col-sm-3">
        <div class="img-container"><img src="../img/photo_corp.png" alt=""></div>
        <span class="text-content">
          <a href="#corp">
            Корпоративные съёмки
            <!--<img class="icon" src="../img/menu_corp.png" alt="">-->
          </a>
        </span>
      </div>
      <div class="col-md-15 col-sm-3">
        <div class="img-container"><img src="../img/photo_theatre.png" alt=""></div>
        <span class="text-content">
          <a href="#theatre">
            Театральные декорации
            <!--<img class="icon" src="../img/menu_theatre.png" alt="">-->
          </a>
        </span>
      </div>
      <div class="col-md-15 col-sm-3">
        <div class="img-container"><img src="../img/photo_child.png" alt=""></div>
        <span class="text-content">
          <a href="#children">
            Детские праздники
            <!--<img class="icon" src="../img/menu_child.png" alt="">-->
          </a>
        </span>
      </div>
      <div class="col-md-15 col-sm-3">
        <div class="img-container"><img src="../img/photo_mass.png" alt=""></div>
        <span class="text-content">
          <a href="#mass">
            Массовые мероприятия
            <!--<img class="icon" src="../img/menu_mass.png" alt="">-->
          </a>
        </span>
      </div>
  </div>

  <div class="col-xs-12 float"></div>

  <div class="col-xs-12 section" id="about">
    <div class="container">
      <div class="col-xs-3">
        <img src="../img/menu_about.png" alt="" width="250px" height="250px">
      </div>
      <div class="col-xs-9">
        <h3>О нас</h3>
        <p>Привет! Мы рады приветствовать вас на нашем сайте!</p>
        <p>Команда «кАРТон» - это мы, два художника, декоратора, Даша и Маша.<br>
        Сначала мы для собственного удовольствия и творческой реализации стали делать креативные фотосессии для себя, своих друзей и детей, а потом решили, что эту отличную идею можно предложить и более широкому кругу! Такую творческую и веселую игру по перевоплощению.</p>
        <p>Нам кажется, что внутри каждого взрослого живет ненаигравшийся ребенок. Нам хотелось поиграть и в цирк и в кабаре, увидеть себя в образе знаменитых женских портретов. А, может быть, у вас тоже есть мечта? Но если нет «заветной самой-самой», то у нас их много!</p>
        <p>Декорации мы рисуем красками на картоне, додумываем и мастерим детали костюмов, украшений. Для нас это творческий процесс, в который мы с удовольствием приглашаем и вас!</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 float"></div>

  <div class="col-xs-12 section" id="creative">
    <div class="container">
      <div class="col-xs-8">
        <h3>Креативные фотосессии</h3>
        <p>Наверняка, вы этого еще не пробовали! Но мы уверены в том, что вам это понравится!</p>
        <p>Преобразиться в творческом процессе, стать сценаристом собственного образа, актером, исполняющим роль и оставить эти воспоминания в фотографиях на всю жизнь! Ракурсы, роли, декорации, свет, атмосфера, место – все это будет работать на создание образа.</p>
        <p>Это может быть фотостудия или лесная чаща – с декорациями мы везде организуем наполненное духом творчества и волшебства пространство.</p>
      </div>
      <div class="col-xs-4">
        <img src="../img/menu_creative.png" alt="" width="280px" height="280px">
      </div>
    </div>
  </div>
  <div class="wrap col-xs-12">
    <div class="scrollbar">
			<div class="handle">
				<div class="mousearea"></div>
			</div>
		</div>

		<div class="frame" id="frame_creative">
			<ul class="clearfix">
			  <li><img src="../img/creativ/1.jpg" alt=""></li>
			  <li><img src="../img/creativ/2.jpg" alt=""></li>
			  <li><img src="../img/creativ/3.jpg" alt=""></li>
			  <li><img src="../img/creativ/4.jpg" alt=""></li>
			  <li><img src="../img/creativ/5.jpg" alt=""></li>
			  <li><img src="../img/creativ/6.jpg" alt=""></li>
			  <li><img src="../img/creativ/7.jpg" alt=""></li>
			  <li><img src="../img/creativ/8.jpg" alt=""></li>
			  <li><img src="../img/creativ/9.jpg" alt=""></li>
			  <li><img src="../img/creativ/10.jpg" alt=""></li>
			  <li><img src="../img/creativ/11.jpg" alt=""></li>
			  <li><img src="../img/creativ/12.jpg" alt=""></li>
			  <li><img src="../img/creativ/13.jpg" alt=""></li>
			  <li><img src="../img/creativ/14.jpg" alt=""></li>
			  <li><img src="../img/creativ/15.jpg" alt=""></li>
			  <li><img src="../img/creativ/16.jpg" alt=""></li>
			  <li><img src="../img/creativ/17.jpg" alt=""></li>
			  <li><img src="../img/creativ/18.jpg" alt=""></li>
			  <li><img src="../img/creativ/19.jpg" alt=""></li>
			  <li><img src="../img/creativ/20.jpg" alt=""></li>
			  <li><img src="../img/creativ/21.jpg" alt=""></li>
			  <li><img src="../img/creativ/22.jpg" alt=""></li>
			  <li><img src="../img/creativ/23.jpg" alt=""></li>
			  <li><img src="../img/creativ/24.jpg" alt=""></li>
			  <li><img src="../img/creativ/25.jpg" alt=""></li>
			  <li><img src="../img/creativ/26.jpg" alt=""></li>
			  <li><img src="../img/creativ/27.jpg" alt=""></li>
			  <li><img src="../img/creativ/28.jpg" alt=""></li>
			  <li><img src="../img/creativ/29.jpg" alt=""></li>
			  <li><img src="../img/creativ/30.jpg" alt=""></li>
			  <li><img src="../img/creativ/31.jpg" alt=""></li>
			</ul>
		</div>

    <ul class="pages"></ul>
  </div>

  <div class="col-xs-12 float"></div>

  <div class="col-xs-12 section" id="corp">
    <div class="container">
      <div class="col-xs-3">
        <img src="../img/menu_corp.png" alt="" width="250px" height="250px">
      </div>
      <div class="col-xs-9">
        <h3>Корпоративные съёмки</h3>
        <p>Мы рады предложить вам наши идеи для оформления и проведения запоминающейся и необычной корпоративной фотосъемки, корпоративного праздника. Новые образы создадут всем радостное настроение и останутся на долгую память. Наши декорации из картона легки и удобны в использовании, фото-зона не требует долгой предварительной подготовки. Такой корпоратив запомнится сотрудникам навсегда!</p>
      </div>
    </div>
  </div>
  <div class="wrap col-xs-12">
    <div class="scrollbar">
			<div class="handle">
				<div class="mousearea"></div>
			</div>
		</div>

		<div class="frame" id="frame_corp">
			<ul class="clearfix">
			  <li><img src="../img/corp/1.jpg" alt=""></li>
			  <li><img src="../img/corp/2.jpg" alt=""></li>
			  <li><img src="../img/corp/3.jpg" alt=""></li>
			  <li><img src="../img/corp/4.jpg" alt=""></li>
			  <li><img src="../img/corp/5.jpg" alt=""></li>
			  <li><img src="../img/corp/6.jpg" alt=""></li>
			  <li><img src="../img/corp/7.jpg" alt=""></li>
			  <li><img src="../img/corp/8.jpg" alt=""></li>
			  <li><img src="../img/corp/9.jpg" alt=""></li>
			</ul>
		</div>

    <ul class="pages"></ul>
  </div>

  <div class="col-xs-12 float"></div>

  <div class="col-xs-12 section" id="theatre">
    <div class="container">
      <div class="col-xs-8">
        <h3>Театральные декорации</h3>
        <p>Живописные, яркие, эмоциональные декорации, в которые мы вкладываем всю нашу любовь к театру, помогут сделать ваш праздник или театральное действие незабываемым и ярким. Креативный подход к декорациям может сделать авторский праздник или детский спектакль оригинальным, без затрат на дорогие материалы, делая упор на идею и мастерское исполнение.</p>
      </div>
      <div class="col-xs-4">
        <img src="../img/menu_theatre.png" alt="" width="250px" height="250px">
      </div>
    </div>
    <br>
  </div>
  <div class="wrap col-xs-12">
    <div class="scrollbar">
			<div class="handle">
				<div class="mousearea"></div>
			</div>
		</div>

		<div class="frame" id="frame_theatre">
			<ul class="clearfix">
			  <li><img src="../img/theatre/1.jpg" alt=""></li>
			  <li><img src="../img/theatre/2.jpg" alt=""></li>
			  <li><img src="../img/theatre/3.jpg" alt=""></li>
			  <li><img src="../img/theatre/4.jpg" alt=""></li>
			  <li><img src="../img/theatre/5.jpg" alt=""></li>
			</ul>
		</div>

    <ul class="pages"></ul>
  </div>

  <div class="col-xs-12 float"></div>

  <div class="col-xs-12 section" id="children">
    <div class="container">
      <div class="col-xs-3">
        <img src="../img/menu_child.png" alt="" width="250px" height="250px">
      </div>
      <div class="col-xs-9">
        <h3>Детские фотосессии</h3>
        <p>Каждый родитель, воспитатель, педагог, аниматор знает, как легко малыши входят в условный мир игры. Наши картонные декорации помогут ввести детей в любую выбранную историю или сказку. А так же подобрать индивидуальный образ для вашего любимого чада. Интерактивные игры, детские спектакли, детские праздники оживут с нашими картонными декорациями. Мы нарисуем значимые детали для любого образа. Мы хотим помочь вашим детям раскрыть свой творческий потенциал!</p>
      </div>
    </div>
  </div>
  <div class="wrap col-xs-12">
    <div class="scrollbar">
			<div class="handle">
				<div class="mousearea"></div>
			</div>
		</div>

		<div class="frame" id="frame_children">
			<ul class="clearfix">
			  <li><img src="../img/child/1.jpg" alt=""></li>
			  <li><img src="../img/child/2.jpg" alt=""></li>
			  <li><img src="../img/child/3.jpg" alt=""></li>
			  <li><img src="../img/child/4.jpg" alt=""></li>
			  <li><img src="../img/child/5.jpg" alt=""></li>
        <li><img src="../img/child/6.jpg" alt=""></li>
        <li><img src="../img/child/7.jpg" alt=""></li>
        <li><img src="../img/child/8.jpg" alt=""></li>
        <li><img src="../img/child/9.jpg" alt=""></li>
			</ul>
		</div>

    <ul class="pages"></ul>
  </div>

  <div class="col-xs-12 float"></div>

  <div class="col-xs-12 section" id="mass">
    <div class="container">
      <div class="col-xs-8">
        <h3>Массовые мероприятия</h3>
        <p>Если вам есть что сказать миру, если вы хотите, чтобы вас заметили, если вы устраиваете флэш-мобы или масштабные праздники, уличные шествия, уличные спектакли, то мы очень хотим делать это вместе с вами! Мы нужны друг другу, давайте объединяться!</p>
      </div>
      <div class="col-xs-4">
        <img src="../img/menu_mass.png" alt="" width="250px" height="250px">
      </div>
    </div>
    <br>
  </div>

  <div class="col-xs-12 float"></div>

  <div class="col-xs-12" id="footer">
    <div class="container">
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="../js/jquery-ui.min.js"></script>
  <script src="../js/sly.min.js"></script>
  <script>
    $(window).on("load", function() {
      var frame_creative  = $('#frame_creative');
  		var wrap_creative   = frame_creative.parent();

  		frame_creative.sly({
  			horizontal: 1,
  			itemNav: 'basic',
  			smart: 1,
  			mouseDragging: 1,
  			touchDragging: 1,
  			releaseSwing: 1,
  			startAt: 3,
  			scrollBar: wrap_creative.find('.scrollbar'),
  			scrollBy: 1,
  			pagesBar: wrap_creative.find('.pages'),
  			activatePageOn: 'click',
  			speed: 300,
  			elasticBounds: 1,
  			easing: 'easeOutExpo',
  			dragHandle: 1,
  			dynamicHandle: 1,
  			clickBar: 1,
  		});

      var frame_corp  = $('#frame_corp');
  		var wrap_corp   = frame_corp.parent();

      frame_corp.sly({
  			horizontal: 1,
  			itemNav: 'basic',
  			smart: 1,
  			mouseDragging: 1,
  			touchDragging: 1,
  			releaseSwing: 1,
  			startAt: 3,
  			scrollBar: wrap_corp.find('.scrollbar'),
  			scrollBy: 1,
  			pagesBar: wrap_corp.find('.pages'),
  			activatePageOn: 'click',
  			speed: 300,
  			elasticBounds: 1,
  			easing: 'easeOutExpo',
  			dragHandle: 1,
  			dynamicHandle: 1,
  			clickBar: 1,
  		});

      var frame_theatre  = $('#frame_theatre');
  		var wrap_theatre   = frame_theatre.parent();

      frame_theatre.sly({
  			horizontal: 1,
  			itemNav: 'basic',
  			smart: 1,
  			mouseDragging: 1,
  			touchDragging: 1,
  			releaseSwing: 1,
  			startAt: 3,
  			scrollBar: wrap_theatre.find('.scrollbar'),
  			scrollBy: 1,
  			pagesBar: wrap_theatre.find('.pages'),
  			activatePageOn: 'click',
  			speed: 300,
  			elasticBounds: 1,
  			easing: 'easeOutExpo',
  			dragHandle: 1,
  			dynamicHandle: 1,
  			clickBar: 1,
  		});

      var frame_children  = $('#frame_children');
  		var wrap_children   = frame_children.parent();

      frame_children.sly({
  			horizontal: 1,
  			itemNav: 'basic',
  			smart: 1,
  			mouseDragging: 1,
  			touchDragging: 1,
  			releaseSwing: 1,
  			startAt: 3,
  			scrollBar: wrap_children.find('.scrollbar'),
  			scrollBy: 1,
  			pagesBar: wrap_children.find('.pages'),
  			activatePageOn: 'click',
  			speed: 300,
  			elasticBounds: 1,
  			easing: 'easeOutExpo',
  			dragHandle: 1,
  			dynamicHandle: 1,
  			clickBar: 1,
  		});
    });
  </script>
</html>
