<!DOCTYPE html>
<html>
  <head>
    <title>k-ART-on</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1>k-ART-on</h1>
    <p>Welcome to here</p>
    <a href="/test">Test link</a>
  </body>
</html>
